
src/.vs/GameSimulator/FileContentIndex/

src/ObjectLibrary/obj/

src/GameSimulator/obj/

src/.vs/GameSimulator/v17/

src/.vs/ProjectEvaluation/

src/.vs/GameSimulator/DesignTimeBuild/

src/GameSimulator/bin/Debug/net6.0/
